
        .container {
            width: 80%;
            height: 60%;
            position: relative;
            float: left;
            margin-top: 2rem;
            padding: 2rem;
            background-color: rgba(250, 250, 250, 0.7);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            border-radius: 5px;
        }

        .Reply {
            width: 80%;
            position: relative;
            float: left;
            margin-top: 2rem;
            padding: 2rem;
            background-color: rgba(250, 250, 250, 0.7);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            border-radius: 5px;
        }